main {
  display: grid;
  grid-template-columns: 40% 60%;
  min-height: calc(100vh - 21rem);
  font-size: 1.6rem;
  background-color: var(--bg);
}

@media screen and (max-width: 980px) {
  main {
    margin: 5rem 5% 0;
    grid-template-columns: 90%;
    column-gap: 1rem;
  }
}

.card {
  display: flex;
  height: 50rem;
  justify-content: center;
  align-items: center;
}

.recipe {
  padding: 2rem calc(10% + 5rem) 2rem 0;
}

.recipe .detail {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.recipe .detail p {
  font-weight: 300;
  margin-right: 1.5rem;
}

.recipe h1 {
  margin-bottom: 1rem;
  color: var(--primary);
}

.recipe h2 {
  margin: 1.5rem 0;
}

.recipe .ingredients p {
  margin: 0.5rem 0;
}

.recipe .ingredients p span {
  font-weight: 600;
}

.recipe li {
  margin: 0.5rem 0 0.5rem 3rem;
}

.recipe li::marker {
  font-size: 3rem;
  font-weight: 900;
}
